/* Lume's design system */
@import "css/ds.css";

/* Custom components */
@import "css/home.css";
@import "css/navbar.css";
@import "css/page.css";
@import "css/post-list.css";
@import "css/post.css";
@import "css/variables.css";

/* Page layout */
main {
  padding: var(--row-gap-medium) 0;
  max-width: min(100% - 15vw, 45em);
  margin: 0 auto;

  & > :first-child {
    margin-top: 0;
  }
}

/* Search tweak */
.search {
  margin-top: var(--row-gap-xsmall);
}

.footer {
  text-align: center;
  margin-bottom: 10px;
}