---
layout: layouts/base.njk
bodyClass: body-home
title: Posts
menu:
  visible: true
  order: 2
---

{% set postslist = search.pages("type=post", "date=desc", 4) %}

<header class="page-header">
  <h1 class="page-title">{{ home.welcome | safe }}</h1>

  <div class="search" id="search"></div>
</header>


<section class="postList">
  {% asyncEach post in postslist %}
  <article class="post">
    <header class="post-header">
      <h2 class="post-title">
        <a href="{{ post.url }}" {% if post.url == url %} aria-current="page"{% endif %}>
          {{ post.title or post.url }}
        </a>
      </h2>

      {% set date = post.date %}
      {% set tags = post.tags %}
      {% set author = post.author %}
      {% set readingInfo = post.readingInfo %}
      {% include "templates/post-details.njk" %}
    </header>

    <div class="post-excerpt body">
      {{ post.excerpt | md | safe }}
    </div>

    {% if post.isExcerptTruncated === true %}
      <a href="{{ post.url }}" class="post-link">
        Continue reading →
      </a>
    {% endif %}
  </article>
{% endeach %}
</section>

<hr>

<p>More posts can be found in <a href="/archive/">the archive</a>.</p>
